:root {
    --login-height: 55vh;
    /*--login-width: 30vw;*/

}

@media (max-width: 800px) {
    :root {
        --login-height: 60vh;
        /*--login-width: 70vw;*/
    }
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #8022C9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: auto/*var(--login-width)*/;
    height: var(--login-height);
    background: #fff;
    border-radius: 35px;
    text-align: center;
}

.box img {
    padding: 3vh;
    width: 15%;
    border-radius: 25px;
}

.input-text {
    color: #fff;
    width: 70%;
    height: 3vh;
    margin: 5px;
    background-color: #ADADAD;
    border: 0px;
    border-radius: 5px;
    outline: none;
    font-size: medium;
    padding: 5px 5px 5px 10px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.input-text:hover {
    background-color: #8022C9;
}

input::placeholder {
    color: #fff;
}

.box button {
    margin: 1vw;
    margin-bottom: 2vh; 
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ADADAD;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.box button:hover {
    background-color: #8022C9;
}


body {
    margin: 0px;
}