/*^^^^^^^^^ @imports ^^^^^^^^*/
/*^^^^^^^^^ tags ^^^^^^^^^^^^*/
body {
    background-color: #a84af0;
}

/*^^^^^^^^^ Variáveis ^^^^^^^^*/
:root {
    --singup-logo: 35%;
    --singup-button: 25%;
    --singup-textbox: 90%;
    --font-title-project: medium;
    --icon-img-card: 20vw;
    --font-nav: 63%;
    --notification-padding: 10%;

}

@media (min-width: 800px) {
    :root {
        --singup-logo: 15%;
        --singup-button: 20%;
        --singup-textbox: 70%;
        --font-title-project: x-large;
        --icon-img-card: 7vw;
        --font-nav: 100%;
        --notification-padding: 25%;

    }
}
/*^^^^^^^^^^^^^^^^ navbar provisória, apenas para testar uns elementos do layout ^^^^^^^^^^^^^^^^*/
nav {
    padding: 0;
    margin: 0;
    background-color: #51008f;
}

nav ul {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: var(--font-nav);
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    padding: 3vh;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

/*^^^^^^^^^^^^^^^atribuiçoes ^^^^^^^^^^^^^^^*/
.notificacao{
    background-color: #fff;
    margin: 2% var(--notification-padding);
    padding: 2%;
    border-radius: 5px;
}
.notificacao h1 a{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-decoration: none;
}
.notificacao h1 a:hover{
    color: #51008f;
}
.notificacao p{
    text-indent: 3%;
    text-align: justify;
    font-size: medium;
    margin: 1%;
}


/*^^^^^^^ Sing in e Sing up ^^^^^^^^^^^^^^*/

.container {
    width: 100vw;
    height: 100vh;
    background-color: #8022C9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: auto;
    background: #fff;
    text-align: center;
    margin: 1vw;
}

.box img {
    padding: 3vh;
    width: var(--singup-logo);
    border-radius: 25px;
}

.input-text {
    color: #fff;
    width: var(--singup-textbox);
    height: 3vh;
    margin: 5px;
    background-color: #ADADAD;
    border: 0px;
    border-radius: 5px;
    outline: none;
    font-size: medium;
    padding: 5px 10px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.input-text:hover {
    background-color: #8022C9;
}

input::placeholder {
    color: #fff;
}

.box button {
    width: var(--singup-button);
    margin: 1vw;
    margin-bottom: 2vh;
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ADADAD;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.box button:hover {
    background-color: #51008f;
}

/*^^^^^^^^^^^^^^^^^^^^ Projetos e Atribuições ^^^^^^^^^^^^^^^^^^^^^^^^*/
.card {
    background-color: #ffffff;
    backdrop-filter: blur(5px);
    height: auto;
    margin: 2vh 5vh 0vh 5vh;
    text-align: center;
    padding: 1vh;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 150%;
    border-radius: 5px;
}

.card input {
    width: 70%;
    height: 5vh;
    /*font-size: 3vh;
    background: white;
    border: none;
    border-bottom: 3px;
    border-color: #fff;
    margin: 3%;*/
    outline: 0;
}

.pesquisa {
    height: 5vh;
    font-size: 50%;
    font-family: 'Courier New', Courier, monospace;
    margin: 3vw;
    background-color: #51008f;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.pesquisa:hover {
    background-color: #8022C9;
}

.card img {
    height: var(--icon-img-card);
    border-radius: 50%;
}

.card p {
    font-size: 70%;
    padding: 1%;
}

/*.card a{
    color: black;
}*/
.details {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    color: black;
    font-style: bold 3px;
    background-color: #ADADAD;
    border: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.details:hover {
    background-color: #8022C9;
    color: #fff;
}

.card p a {
    background-color: #ADADAD;
    border-radius: 5px;
}