@media (min-width: 300px) and (max-width: 800px){
 
  .nav-iten{
    min-height: 50px;
    height: 20px; 
  }

   
  .nav-item a:hover {
      color: rgb(167, 11, 11)!important;
      background-color: transparent!important;
      text-size-adjust: 50%;
    }
    .menu{
      
      justify-content:center!important; 
    }
    .nav-list {
      background-color: rgb(129, 13, 129);
      box-shadow: 0px 0px 10px var(--clr-gray200);
      border-radius: var(--radius);
    }
    .content{
      width: auto;
    }
}
:root {
    /*   color variables */
    --clr-primary: #6aeeb5;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #000000;
    --clr-gray100: #f0f7f8;
    --clr-gray200: #cfd8dc;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Montserrat, sans-serif;
    background: var(--clr-gray100);
    padding: 0;
    margin: 0;
    background-color: #8022C9;
  }
  
  .nav-list {
    background-color: rgb(129, 13, 129);
    box-shadow: 0px 0px 10px var(--clr-gray200);
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
  }
  
  .nav-item {
    padding-top: 1rem ;
    padding-bottom: 0.5rem ;
    padding-left: 0.5rem ;
    padding-right: 0.5rem ;
    list-style: none;
  }
  

   .nav-item a {
    padding-top: 1rem ;
    padding:1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 200ms ease-in;
    margin-left: auto;
  }

  .nav-item a:hover {
    color: black;
    background-color: white;

  }
  .menu {

    border-style: solid;
    border-color: white;
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
  


  /*aa*/
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}
.container{
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding: 10px;
}
.titulo{
  padding: 10px;
  background-color: #4B0082;
  text-align: center;
  color: white;
  border-radius: 2px;
}
.descrição{
  padding: 5px;
}
.search{
  padding:10px ;
}
/*card*/
.lists-container::-webkit-scrollbar {
  height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-top-width: 0;
}

.lists-container {
  display: flex;
  align-items: start;
  padding: 0 0.8rem 0.8rem;
  overflow-x: auto;
  height: calc(100vh - 8.6rem);
}

.list {
  flex: 0 0 27rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  max-height: calc(100vh - 11.8rem);
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.list:last-of-type {
  margin-right: 0;
}

.list-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 1rem;
}

.list-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
}

.list-items::-webkit-scrollbar {
  width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
  background-color: #c4c9cc;
  border-right: 0.6rem solid #e2e4e6;
}

.list-items li {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  background-color: #fff;
  padding: 0.65rem 0.6rem;
  color: #4d4d4d;
  border-bottom: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  margin-bottom: 0.6rem;
  word-wrap: break-word;
  cursor: pointer;
}

.list-items li:last-of-type {
  margin-bottom: 0;
}

.list-items li:hover {
  background-color: #eee;
}

.add-card-btn {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #838c91;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-card-btn:hover {
  background-color: #ccc;
  color: #4d4d4d;
  text-decoration: underline;
}

.add-card-btn::after{
  content: '...';
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  body {
      display: grid;
      grid-template-rows: 4rem 3rem auto;
      grid-row-gap: 0.8rem;
  }
  
  .lists-container {

      grid-auto-flow: column;
      grid-column-gap: 1rem;
  }

  .list {
      display: grid;
      grid-template-rows: auto minmax(auto, 1fr) auto;
  }

  .list-items {
      display: grid;
      grid-row-gap: 0.6rem;
  }

  .logo,
  .list,
  .list-items li {
      margin: 0;
  }
}

.cards{
  padding: 10px;
  text-decoration: none;
  list-style: none;
  color: black;
}


.username{
  color: black;
  width: 100%;
  overflow: hidden;
  font-size: 12px ;
  margin-top: 5px;
  color: rgba(0, 0, 0);
}
.user{
 display: inline-block;
  text-decoration: none;
  padding: 5px;
}
.profile-pic{
  align-items: center;
  justify-content:center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.card-user{

  width: 100%;
  text-align: left;
  display: inline-block;
  padding-bottom: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
.card-u{
  display: inline-block;
  text-align:initial;
}

.user-1 {
  text-align: center;

}
.in-line {
  right: 0px;
  top:0; 
  display: inline-block;
}
.descrição-11{
  position: absolute;
  right: 0px;
  top:0; 
  height:50px;
    width:100px;
}
.comment-wrapper{
  width: 100%;

  border-radius: 1px solid #dfdfdf;

  justify-content: space-between;
  align-items: center;
}
.comment-box{
  width: 400px;
  height: 50px;
  height: 100%;
  outline: none;
  font-size:14px;
}
.checkbox{
  padding: 15px;
  padding-right: 90px;
}
.anexos{
  padding: 10px;
  padding-left: 65px;
}
.margin{
  padding: 10px;
  background-color: white;
}
.comentarios{
  padding: 10px;
}.comentarios-bar{
  padding-left: 90px;
}
.conteiner-area{
  padding: 20px;
}
.container-projeto{
  background-color: #ccc;
}

/*^^^^^^^^^ Variáveis ^^^^^^^^*/
:root {
  --singup-logo: 35%;
  --singup-button: 25%;
  --singup-textbox: 90%;
  --font-title-project: medium;
  --icon-img-card: 20vw;
  --font-nav: 63%;
  --notification-padding: 10%;

}

@media (min-width: 800px) {
  :root {
      --singup-logo: 15%;
      --singup-button: 20%;
      --singup-textbox: 70%;
      --font-title-project: x-large;
      --icon-img-card: 7vw;
      --font-nav: 100%;
      --notification-padding: 25%;

  }
}
/*^^^^^^^^^^^^^^^^ navbar provisória, apenas para testar uns elementos do layout ^^^^^^^^^^^^^^^^*/
nav {
  padding: 0;
  margin: 0;
  background-color: #51008f;
}

nav ul {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: flex;
  justify-content: center;
  color: white;
  font-size: var(--font-nav);
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  padding: 3vh;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

/*^^^^^^^^^^^^^^^atribuiçoes ^^^^^^^^^^^^^^^*/
.details-card{
  background-color: rgb(255, 255, 255);
  margin: 2% var(--notification-padding);
  padding: 2%;
  border-radius: 5px;
}
.details-card h1{
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-decoration: none;
}
.details-card p{
  text-indent: 5%;
  text-align: justify;
  font-size: medium;
  margin: 3%;
}
.teste-notificacao{
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 2% var(--notification-padding);
  background-color: #fff;
  padding: 2%;
  border-radius: 5px;
}

.teste-notificacao h1 a{
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-decoration: none;
}

.teste-notificacao img{
  width: 70%;
  border-radius: 50%;
  margin: 1vh;
}
.teste-notificacao p{
  text-indent: 3%;
  text-align: justify;
  font-size: medium;
  margin: 1%;
}

/*^^^^^^^ Sing in e Sing up ^^^^^^^^^^^^^^*/


.box {
  width: auto;
  background: #fff;
  text-align: center;
  margin: 1vw;
}

.box img {
  padding: 3vh;
  width: var(--singup-logo);
  border-radius: 25px;
}

.input-text {
  color: #fff;
  width: var(--singup-textbox);
  height: 3vh;
  margin: 5px;
  background-color: #ADADAD;
  border: 0px;
  border-radius: 5px;
  outline: none;
  font-size: medium;
  padding: 5px 10px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.input-text:hover {
  background-color: #8022C9;
}

input::placeholder {
  color: #fff;
}

.box button {
  width: var(--singup-button);
  margin: 1vw;
  margin-bottom: 2vh;
  padding: 7px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ADADAD;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
}

.box button:hover {
  background-color: #51008f;
}

/*^^^^^^^^^^^^^^^^^^^^ Projetos ^^^^^^^^^^^^^^^^^^^^^^^^*/
.card {
  background-color: #ffffff;
  backdrop-filter: blur(5px);
  height: auto;
  margin: 2vh 5vh 0vh 5vh;
  text-align: center;
  padding: 1vh;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 150%;
  border-radius: 5px;
}

.card input {
  width: 70%;
  height: 5vh;
  /*font-size: 3vh;
  background: white;
  border: none;
  border-bottom: 3px;
  border-color: #fff;
  margin: 3%;*/
  outline: 0;
}

.pesquisa {
  height: 5vh;
  font-size: 50%;
  font-family: 'Courier New', Courier, monospace;
  margin: 3vw;
  background-color: #51008f;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.pesquisa:hover {
  background-color: #8022C9;
}

.card img {
  height: var(--icon-img-card);
  border-radius: 50%;
}

.card p {
  font-size: 70%;
  padding: 1%;
}

/*.card a{
  color: black;
}*/
.details {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
  color: black;
  font-style: bold 3px;
  background-color: #ADADAD;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.details:hover {
  background-color: #8022C9;
  color: #fff;
}

.card p a {
  background-color: #ADADAD;
  border-radius: 5px;
}
footer{
  padding: 10px;
}